* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #222;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0% rgba(121,9,118,1) 34%, rgba(0,212,255,1) 100%);
}

.box-video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 700px;
}

video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.icons-right {
  position: absolute;
  right: 0;
  bottom: 90px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.icons-right > .profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 8px 0 ;
}

.icons-bottom {
  position: absolute;
  z-index: 999;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 45px;
  border-top: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 6px;
}

.title-video {
  position: absolute;
  bottom: 55px;
  left: 10px;
  color: white;
  z-index: 9999;
}